In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('E-733 Swap Letters in Strings.xlsx', usecols = 'A:C', nrows = 10)
df['Rotation'] = df['Rotation'].astype(str)
df

                 Words      Rotation      Answer Expected
0               depart             2               rtdepa
1            adventure          3, 4            venturead
2          celebration            -2          lebrationce
3         thunderstorm         6, -3         ormthunderst
4           remarkable      -8, 2, 3           arkablerem
5        understanding      0, 3, -3        understanding
6        communication   5, 1, 0, -1        ationcommunic
7    misinterpretation    -9, -3, -4    nmisinterpretatio
8    counterproductive      6, 3, -1    oductivecounterpr
9  incomprehensibility  3, 2, -1, -5  ncomprehensibilityi

In [3]:
def rotate_letters(nums, words):

    s = words
    nums = map(int, nums.split(', '))
    
    for i in nums:
        if i >= 0:
            s = s[-i:] + s[:-i]
        else:
            s = s[i*-1:] + s[:i*-1]
    return s

In [4]:
df['Rotation'] = df['Rotation'].astype(str)

df['Answer'] = df.apply(
    lambda row: rotate_letters(row['Rotation'], row['Words']), 
    axis = 1
)
df

                 Words      Rotation      Answer Expected               Answer
0               depart             2               rtdepa               rtdepa
1            adventure          3, 4            venturead            venturead
2          celebration            -2          lebrationce          lebrationce
3         thunderstorm         6, -3         ormthunderst         ormthunderst
4           remarkable      -8, 2, 3           arkablerem           arkablerem
5        understanding      0, 3, -3        understanding        understanding
6        communication   5, 1, 0, -1        ationcommunic        ationcommunic
7    misinterpretation    -9, -3, -4    nmisinterpretatio    nmisinterpretatio
8    counterproductive      6, 3, -1    oductivecounterpr    oductivecounterpr
9  incomprehensibility  3, 2, -1, -5  ncomprehensibilityi  ncomprehensibilityi